{% extends "films/base.html" %}

{% block title %}Список фильмов{% endblock %}



{% block content %}
    <form class="d-flex search-form" role="search" action="{% url 'search_results' %}" method="get">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success text-white" type="submit">Search</button>
                </form>
<br>
    <ul>
        {% if film_list %}
        {% for film in film_list %}
        <li>
            <img src="{{ film.poster}}" class="foto" >
            <a href="{% url 'film_details' film.id %}"  >  {{ film.film.title }}</a><br> <p>Директор: {{ film.film.director }}, Премьера: {{ film.film.release_date }}</p>
            <br>

        </li>

        {% endfor %}
        {% else %}
        <li>Фильмов нет</li>
        {% endif %}
    </ul>
{% endblock %}